@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&display=swap');

// colores
$fondo: #CBE4DE;
$verde: #0E8388;
$oscuro: #2E4F4F;
$cafe: #2C3333;

// tipo de letras
$letraTitulos: 'Satisfy', cursive;
$letraCuerpo:  'Kalam', cursive;
$letraTareas:  'Fraunces', serif;
